*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	background-color: hsl(210, 36%, 96%);
}

img{
	max-width: 100%;
}

.menu{
	padding-top: 5em;
}

.menu__title{
	margin-top: 0;
	text-align: center;
	font-size: 2.5em;
}

.menu__buttons{
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	margin-bottom: 4em;
}

.menu__button{
	border: none;
	outline: none;
	padding: .5em 1em; 
	background-color: #eee;
	border: 2px solid #c59d5f;
	border-radius: 5px;
	color: #c59d5f;
	font-weight: bold;
	margin: 0 .5em;
	cursor: pointer;
	text-transform: capitalize;
}

.menu__button:hover{
	background-color: #c59d5f;
	color: #eee;
}

.menu__items{
	width: 85vw;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding:.5em;
	gap: 3rem 2rem;
}


.item{
	display: grid;
	grid-template-rows: 177px 1fr;
}

.item__image{
	border: 5px solid #c59d5f;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.item__photo{
	width: 300px;
	height: 150px;
	object-fit: cover;
}

.item__description{
	margin-left: 1em;
}

.item__header{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}

.item__title{
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 3px;
	text-transform: capitalize;
}

.item__text{
	margin:0;
	padding-top: 1em;
	color:hsl(210, 22%, 49%);
}

.item__text::first-letter{
	text-transform: capitalize;
}

.item__price{
	margin-top:0;
	margin-bottom: .5em;
	letter-spacing: 3px;
	color: #c59d5f;
	font-size: 1em;
}


@media screen and (min-width: 1024px){
	.menu__items{
	grid-template-columns: repeat(2, 1fr);
}

	.item{
		grid-template-rows: auto;
		grid-template-columns: 220px 1fr;
	}
}